.bottom-parent{
  position:relative;
left:0;
bottom:0;
right:0;
margin-top: 10px;
  border: 2px solid black;
  background-color: #de4620;
  border-radius: 5px;
}
.bottom-child2{
  margin-left: 40%;
  

}
.bottom-child1{
  font-size: 10px;
}
@media only screen and (max-width: 700px) {
  .bottom-child2{
    margin-left: 25%;
  }
}